* {
  box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center; 
 align-items: center;
 font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 background-color: #ebf8fc;
 color: #132c33;
}

main {
  /* background-image: url("./snowflakes-png-41274.png"); */
}

.add-blog-page {
  display: grid;
}

.center {
  text-align: center;
  margin-bottom: 0;
}

.stack-sm > * + * {
  margin-top: 1rem;
}

.stack-xs > * + * {
 margin-top: 0.5rem;
}

.form-label {
  /* max-width: 800px;
  min-width: 100px;
  width: 30%; */
  line-height: 2rem;
}

footer {
  width: 50%;
  /* text-align: center; */
  margin: 0 auto 1.5rem;
  /* display: flex; */
  font-size: 0.8rem;
}

.add-form > * {
  padding: 0.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

article{
  margin-top: 2rem;
  border: solid  rgb(96, 157, 247) 2px;
  padding: 1rem 1rem 3rem 1rem;
  background-color: rgb(96 186 247);
  border-radius: 20px;
}

.inline {
  display: inline;
}

.author-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;;
}

.btn {
  margin-top: 2rem;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-left: auto;
  font-size: 1rem;
}

.sm-white {
  font-size: 0.7rem;
  color: white; 
  font-weight: bold;
  font-style: italic;
}

.message {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  float: right;
  border-radius: 20px;
  border: white 1px solid;
  margin-top: 1rem;
}

a {
  float:right;
  cursor: pointer;
}

a:visited{
  color: rgb(6, 103, 116)
}

